<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') -%>
  </head>
  <body>
    <%- include('partials/navBar') -%> <%- include('partials/header') -%> <%-
    include('partials/hero') -%>

    <main id="main">
      <%- include('partials/whyus') -%> <%- include('partials/unique') -%>
      <section id="about" class="about">
        <div id="results" class="row">
          <div
            class="col-md-12 mx-auto justify-content-center"
            data-aos="fade-right"
          >
            <h4 style="text-align: center; padding: 20px 0" class="title">
              <a href="">Impeccable Results</a>
            </h4>
            <!-- <p class="description">
              <strong>Numbers Speak</strong> <br>
              Below is a brief summary of how ETS has been performing
            </p> -->
            <div style="text-align: center">
              <img src="assets/img/results2.png" alt="" class="resultImg" />
            </div>
          </div>
        </div>
      </section>
      <%- include('partials/services') -%> <%- include('partials/testimonials')
      -%>
    </main>
    <%- include('partials/footer') -%> <%- include('partials/credits') -%>
    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/vendor/jquery-sticky/jquery.sticky.js"></script>
    <script src="assets/vendor/venobox/venobox.min.js"></script>
    <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
  </body>
</html>
